.hero-section {
	background: linear-gradient(
		90deg,
		#000000 0%,
		#ef7716 100%
	); /* Black to Orange gradient */
	width: 90%;
	height: 100vh; /* Full height */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hero-image img {
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: cover; /* Ensure it covers the container properly */
	animation: fadeInFromBottom 1.5s ease-in-out;
	aspect-ratio: 2560 / 2308;
	opacity: 1;
	transition: opacity 0.5s ease;
}
